body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #444 !important;
}


.main.container {
  background-color: #FFFFFF;
  margin: 0 auto;
  padding: 2em;
  max-width: 940px;
}
 
